


.navbar-brand {
  margin: 0 auto;
  font-weight: bold;
}
.fixed-bottom {
  background-color: #343a40;
  color: white;
  padding: 10px;
}
.message-area {
  background-color: white;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  height: calc(100vh - 100px);
  overflow-y: auto;
}
.message {
  display: flex;
  align-items: start;
  margin-bottom: 20px;
}
.message img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 15px;
}
.message-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.input-field {
  width: 500px;
  max-width: 100%;
}
.selected-button {
  background-color: rgb(128, 128, 128);
}

/* Audio chat */
#bot-img {
  width: 200px;
}

#bot-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 70vw;
}

#audio-input-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

/* #record-button {
  border-radius: 50%;
}

#send-button {
  border-radius: 50%;
} */


/*
.send-button {
  height: 40px;
} */